body{
	background-image: url("../assets/main/planetbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100%
	padding: 0;
	margin: 0;
}
h1{
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 600%;
	text-align: center;
}
h2 {
    font-family: Cinzel;
	color: white;
	font-size: 50%;
	text-align: left;
	position: relative;
	top:500px;
}
