body {
	overflow: hidden;
}
h1{
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 500%;
	text-align: center;
}

.st-container {
	background-image: url("../assets/main/starsbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: Cinzel;
}

.st-container > input,
.st-container > a {
	position: fixed;
	bottom: 0px;
	width: 25%;
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
}

.st-container > input {
	opacity: 0;
	z-index: 1000;
}

.st-container > a {
	z-index: 10;
	font-weight: 700;
	background: #070922;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
.st-container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 34px;
	background: #070922;
	z-index: 9;
	bottom: 0;
}


#st-control-1, #st-control-1 + a {
	left:0%;
}
#st-control-2, #st-control-2 + a {
	left:25%;
}
#st-control-3, #st-control-3 + a {
	left:50%;
}
#st-control-4, #st-control-4 + a {
	left:75%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
	background: #311a3d;
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
	bottom: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #311a3d;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.st-container > input:hover + a{
	background: #311a3d;
}

.st-container > input:hover + a:after {
	border-bottom-color: #311a3d;
}

.st-scroll, .st-panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.st-scroll {
	top:0;
	left:0;
	transition: all 1s ease-in-out;
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}
.st-panel{
	overflow:hidden;
}

#st-control-1:checked ~ .st-scroll {
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
	transform: translateY(-300%);
}

[data-icon]:after {
    content: url("../assets/main/rocket.icon.ico");
	/* get rocket with no background */
	position: absolute;
	width: 10px;
	height: 10px;
	line-height: 10px;
	text-align: right;
	top: 25%;
	left: 90%;
	margin: -100px 0 0 0;
	transform: rotate(-45deg);
}

.st-panel h2 {
	color: #e23a6e;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	font-size: 54px;
	font-weight: 900;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,{
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.st-panel p {
	position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: white;
	z-index: 2;
	padding:0;
	width: 50%;
	left: 25%;
	top: 50%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,{
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.st-background, .st-deco{
	background-image: url("../assets/main/planetbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}